@import url('https://fonts.googleapis.com/css?family=Lobster|Tomorrow&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #06688F;
	color: #fafafa;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Tomorrow', sans-serif;
	height: 100vh;
	overflow: hidden;
	text-align: center;
}

h1.newyear {
	font-family: 'Lobster', cursive;
	font-size: 8rem;
	text-shadow: 0.3rem 0.3rem #2082A8;
	margin: 1rem;
}

.countdown-container {
	display: flex;
}

.fa-snowflake {
	color: #fff;
	position: absolute;
	top: -20px;
	animation: fall linear forwards;
}

@keyframes fall {
	to {
		transform: translateY(105vh);
	}
}


.time {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 1.2rem;
	flex-direction: column;
	margin: 0 15px;
	background: #fafafa;
	color: #333;
	width: 105px;
	height: 105px;
	border-radius: 50%;
	box-shadow: 0.3rem 0.3rem 0.3rem green, -0.3rem -0.3rem 0.3rem orange;
}


.h1 {
	font-family: 'Lobster', cursive;
	font-size: 5rem;
	text-align: center;
	margin-bottom: 1.5rem;
}


.time small {
	color: rgb(177, 172, 172);
}

.animate {
	animation: grow 4s ease-in-out;
	opacity: 0.3;
	color: white;
	border-radius: 50%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	z-index: -1;
}

@keyframes grow {
	to {
		opacity: 0;
		transform: scale(4);
	}
}


@media(max-width:500px) {
	.countdown-container {
		flex-direction: column;
	}

	.time {
		margin-bottom: 1rem;
	}

	.h1 {
		font-size: 2rem;
		margin-bottom: 2rem;
	}

}